@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
	--animate-border: border 8s linear infinite;

	@keyframes border {
		to {
			--border-angle: 360deg;
		}
	}
}

:root {
	direction: rtl;
	font-family: "Ubuntu Sans", "Vazirmatn", sans-serif;
	line-height: 1.5;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
html,
body {
	font-family: "Ubuntu Sans", "Vazirmatn", sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
}

.ltr {
	direction: ltr;
}

@property --border-angle {
	inherits: false;
	initial-value: 0deg;
	syntax: "<angle>";
}

.input {
	@apply w-full bg-slate-800/50 border border-slate-700 rounded-lg pl-10 pr-4 text-slate-200 placeholder-cyan-300/70 focus:ring-2 focus:ring-cyan-500 focus:outline-none focus:border-transparent;
}

.auth-input-icon {
	@apply absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 size-4;
}
.auth-password-icon {
	@apply absolute right-3 top-1/2 -translate-y-1/2 text-slate-400 size-4 cursor-pointer;
}

.auth-btn {
	@apply w-full bg-cyan-600 text-white rounded-lg py-3 font-medium hover:bg-cyan-400 text-sm transition-all cursor-pointer;
}

.auth-link {
	@apply px-4 py-2 inline-block bg-cyan-500/10 rounded-lg text-cyan-500 hover:text-cyan-300 text-sm transition-all border border-transparent hover:border-cyan-300 mx-auto;
}

.auth-badge {
	@apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full bg-cyan-500/20 text-cyan-300;
}
